.wrapper{
  display: flex;
  .main_chat{
    width: calc(100vw - 300px);
    .main-header{
      margin: 0px 40px;
      display: flex;
      justify-content: space-between;
      height: 100px;
        &__left-header{
          margin-top: 35px;
          &__name{
            font-size: 20px;
            color: #333333;
          }
          &__member{
            padding: 0px 15px;
            font-size: 12px;
            color: #999999;
            display: flex;
          }
        }
        .group{
          height: 40px;
          line-height: 40px;
          padding: 0px 20px;
          border: solid 1px #00ffff;
          color: #00ffff;
          margin-top: 40px;
        }                           
    }
  }
  .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 10px;
    height: calc(100vh - 170px);
    overflow: scroll;
    
    .message {
      margin: 0px 30px;
      .upper-message {
        display: flex;
          &__user-name {
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          &__date {
            color: #999999;
            font-size: 12px;
            margin-top: 5px;
          }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: #434a54;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }

 .form {
   //position: fixed;
   background-color: #DDDDDD;
   box-sizing: border-box;
   height: 90px;
   padding: 20px 50px 20px 40px;
     &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
     }
    &__mask {
     background-color: #FAFAFA;
     float: left;
     height: 50px;
     padding-right: 10px;
     &__image {
       font-size: 20px;
       line-height: 50px;
     }
     .hidden {
       display: none;
     }
   }
   &__submit {
     background-color: #38aef0;
     border: none;
     color: #eeeeee;
     float: right;
     font-size: 16px;
     height: 50px;
     margin-left: 15px;
     padding: 0 30px;
   }
 }
}