.side_bar {
 
  .side-header {
    background-color: #253141;
    color: #ffff;
    height: 100px;
    width: 260px;
    padding: 0px 20px;
    align-items: center;
    display: flex;
    &__box{
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__name{
        color: #ffff;
        font-size: 16px;
        font-weight: bold;
      }
      &__menu{
        display: flex;
        color: #ffff;
        .list{
          .icon{
            color: #ffff;
          }
        }
      }
    }
  }

  .groups{
    overflow: scroll;
    background-color: #2f3e51;
    width: 260px;
    padding: 20px 20px 0px;
    height: calc(100vh - 100px);
  }

  .group{

    &__name{
      color: #ffff;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 5px;
      }

    &__message{
      color: #ffff;
      font-size: 11px;
      font-weight: bold;
      padding-bottom: 40px;
    }
  }
}